   <div class="top-wrapper">
      <div class="top-left">
        <div class="left-welcome">
          <h3>Selamat datang di <span>Telemedicine</span></h3>
          <h4>Lakukan konsultasi online dengan dokter yang terpercaya, bersertifikat dan ahli di bidangnya</h4>
        </div>
        <div class="left-diagnoses">
          <h3>Diagnosa awal penyakit mental <span>GRATIS!</span></h3>
        </div>
        <a class="button-test" href="/diagnoses">Ambil test</a>
      </div>
      <div class="top-right">
        <img <%= image_tag("undraw_doctors_hwty.png",  height: 900, width: 1220) %>>
      </div>
    </div>
    <div class="guide-wrapper">
      <h3><center>Cara menggunakan layanan <span>live chat</span></center></h3>
      <div class="guide-container">
        <div class="guide-content">
          <div class="blue-box">
          </div>
          <h4>Pilih dokter berpengalaman yang tersedia oleh layanan Telemedicine, kemudian tekan tombol chat</h4>
        </div>
        <div class="guide-content">
        <div class="blue-box">
          </div>
          <h4>Silahkan tunggu beberapa saat untuk mendapatkan konfirmasi dokter</h4>
        </div>
        <div class="guide-content">
        <div class="blue-box">
          </div>
           <h4>Kamu bisa mulai untuk menjelaskan masalahmu kepada dokter untuk mendapatkan konsultasi</h4>
        </div>
      </div>
    </div>
    <div class="doctor-wrapper">
      <h2>Mulai chat dengan <span>dokter</span> sekarang</h3>
      <div class="doctor-card">
        <% @doctors = Doctor.limit(3) %>
        <% @doctors.each do |doctor| %>
        <div class="dcard">
          <div class="dcard-bottom">
            <h3><%= doctor.name %></h3>
            <div class="dcard-container">
            <h4>Pengalaman <%= doctor.experience %> Tahun </h4>
<!--             <h4>Rating</h4> -->
            </div>
            <a class="button-chat" href="doctor/<%= doctor.id %>">Detail</a>
          </div>
        </div>
        <% end %>
      </div>
      <a class="button-telemedicine" href="/doctor">Lebih lanjut</a>
    </div>
    <div class="article-wrapper">
      <h2>Baca artikel <span>Kesehatan Mental</span></h3>
        <div class="article-card">
        <% @articles = Article.limit(3) %>
        <% @articles.each do |article| %>
          <div class="acard">
            <div class="acard-bottom">
              <h3><%= article.title %></h3>
              <h4>Kesehatan Mental</h4>
              <h5><%= article.description %></h5>
              <a class="button-read" href="articles/<%= article.id %>">Baca</a>
            </div>
          </div>
          <% end %>
        </div>
        <a class="button-article" href="/article">Lebih lanjut</a>
    </div>
    <div class="medicine-wrapper">
      <h2>Informasi <span>Obat</span> dan <span>Vitamin</span></h3>
      <div class="medicine-card">
        <% @medicines = Medicine.limit(3) %>
        <% @medicines.each do |medicine| %>
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4><%= medicine.name %></h4>
          <h5><%= medicine.description %></h5>
        </div>
        <% end %>
      </div>
      <a class="button-medicine" href="/medicine">Lebih lanjut</a>
    </div>
