 
  <html>
      <head>
        <meta charset="utf-8">
        <title>Telemedicine</title>
        <link rel="stylesheet" href="/stylesheet/login.css">
    </head>
    <body>
        <header>
            <ul>
                <div class="header-left">
                <li><a class="btnnav-home" href="/">Home</a></li>
                <li><a class="btnnav-telemedicine" href="/telemedicine">Telemedicine</a></li>
                <li><a class="btnnav-article" href="/article">Artikel</a></li>
                <li><a class="btnnav-contact" href="/contact">Kontak</a></li>
                </div>
                <div class="header-right">
                <li><a class="login-login" href="/login" style="color:white;">Login</a></li>
                </div>
            </ul>
        </header>
    </body>
    <div class="login-container">
      <h1>Sign In</h1>
      <div class="login-wrapper">
        <%= form_with url: sign_in_path do |f| %>
          <p>
          <%= f.label 'username:'%><br>
          <%= f.text_field :username, id: 'username' ,class: 'f-login'%>
          </p>
          <p>
          <%= f.label 'password:'%><br>
          <%= f.password_field :password, id: 'password' ,class: 'f-login'%>
          </p>
          <p>
          <%= f.submit 'LOGIN', class: 'btn-masuk' %>
          </p>
        <% end %>
      </div>
    </div>
  </html>