
<p style="color: green"><%= notice %></p>

<h1 class="title">List articles</h1>
<%= link_to "New article", new_article_path,class:"btn btn-success",style:"margin-bottom:10px; margin-left:100px; " %>
<table class="table table-bordered" style="width:55%; margin-left:100px;" >
  <thead class="table-info" >
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.author %></td>
      <td><div class="btn-group">
              <%= link_to "Edit", edit_article_path(article),class:"btn btn-outline-warning" %>
              <%= link_to 'Show', article,class:"btn btn-outline-info" %></div></td>
          <td><%= button_to "Delete", article, method: :delete,data: { confirm: 'Are you sure?' },class:"btn btn-outline-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

