<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>No hp:</strong>
    <%= user.no_hp %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.account.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.account.password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.account.role %>
  </p>

</div>
