
    <html>
      <head>
        <meta charset="utf-8">
        <title>Telemedicine</title>
        <link rel="stylesheet" href="/stylesheet/login.css">
    </head>
    <body>
        <header>
            <ul>
                <div class="header-left">
                <li><a class="btnnav-home" href="/">Home</a></li>
                <li><a class="btnnav-telemedicine" href="/telemedicine">Telemedicine</a></li>
                <li><a class="btnnav-article" href="/article">Artikel</a></li>
                <li><a class="btnnav-contact" href="/contact">Kontak</a></li>
                </div>
                <div class="header-right">
                <li><a class="login-login" href="/login" style="color:white;">Login</a></li>
                </div>
            </ul>
        </header>
    </body>
    <div class="signup-container">
      <h1>Register</h1>
      <div class="signup-wrapper">
      <%= form_with model: @account, url: sign_up_path do |f| %>
        <p>
        <%= f.label 'username' %><br>
        <%= f.text_field :username , class: 'f-signup' %>
        </p>
        <p>
        <%= f.label 'password' %><br>
        <%= f.password_field :password , class: 'f-signup' %>
        </p>
        <p>
        <%= f.submit 'Sign Up', class: 'btn-signup' %>
        </p>
      <% end %>
      </div>
    </div>
  </html>