<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>No hp:</strong>
    <%= doctor.no_hp %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= doctor.gender %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= doctor.experience %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= doctor.account.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= doctor.account.password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= doctor.account.role %>
  </p>

</div>
