

<%= form_with model: @doctor, url: doctors_path do |f| %>
  <p>
  <%= f.label 'username' %><br>
  <%= f.text_field :username %>
  </p>
  <p>
  <%= f.label 'password' %><br>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.label 'password_confirmation' %><br>
  <%= f.password_field :password_confirmation %>
  </p>
  <p>
  <%= f.label :experience, style: "display: block" %>
  <%= f.text_field :experience %>
  </p>
  <p>
  <%= f.submit 'Sign Up' %>
  </p>
<% end %>