    <%= render 'admin_page/header' %> 

<p style="color: green"><%= notice %></p>
<h1 class="title">List Doctors</h1>
<%= link_to "New Doctor", new_doctor_path,class:"btn btn-success",style:"margin-bottom:10px; margin-left:100px; " %>
<table class="table table-bordered" style="width:55%; margin-left:100px;" >
  <thead class="table-info" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">No HP</th>
      <th scope="col">Gender</th>
      <th scope="col">Experience</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.email %></td>
      <td><%= doctor.no_hp %></td>
      <td><%= doctor.gender %></td>
      <td><%= doctor.experience %></td>
      <td><div class="btn-group">
              <%= link_to "Edit", edit_doctor_path(doctor),class:"btn btn-outline-warning" %>
              <%= link_to 'Show', doctor,class:"btn btn-outline-info" %></div></td>
          <td><%= button_to "Delete", doctor, method: :delete,data: { confirm: 'Are you sure?' },class:"btn btn-outline-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  